.selected {
    text-decoration: underline;
  }

.navbar-container {
  align-items: center;
}

.search-input {
  background-color: white !important;
  border-radius: 5px;
}

.search-form {
  display: flex;
  color: white !important;
}